NODE_ENV= #(development or production)

PORT=
BASE_URL= #(http://localhost or https://yourdomain.com)
CORS_ORIGIN=* #("https://example.com, http://localhost:3000")

MONGO_URI= #(mongodb connection string)

REDIS_URL= #(redis connection string, e.g., redis://localhost:6379)
REDIS_PORT= #(redis port, e.g., 6379)
REDIS_PASSWORD= #(redis password, if applicable)

ACCESS_TOKEN_SECRET= #(your_access_token_secret)
ACCESS_TOKEN_EXPIRY= #(e.g., 1d, 12h)

REFRESH_TOKEN_SECRET= #(your_refresh_token_secret)
REFRESH_TOKEN_EXPIRY= #(e.g., 7d, 24h)

GMAIL_SMTP_HOST= #(smtp.gmail.com)
GMAIL_SMTP_PORT= #(e.g., 465 for SSL, 587 for TLS)
GMAIL_SMTP_USERNAME= #(your_gmail_email_address)
GMAIL_SMTP_PASSWORD= #(your_gmail_app_password)

RESET_PASSWORD_REDIRECT_URL= #(http://localhost:5000/forgot-password or https://yourdomain.com/forgot-password)


CLOUDINARY_CLOUD_NAME= #(your_cloudinary_cloud_name)
CLOUDINARY_API_KEY= #(your_cloudinary_api_key)
CLOUDINARY_API_SECRET= #(your_cloudinary_api_secret)